* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #2e3d6c;
}

#body {
    height: 100vh;
    width: 100vw;
    background-color: #506296;
    display: grid;
    grid-template-columns: 10% 75% 15%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
        'header header header'
        'nav main ads'
        'nav main ads'
        'footer footer footer'
    ;
}

#header {
    grid-area: header;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr;
    grid-template-areas: 
        'logo title'
    ;
}

#logo {
    grid-area: logo;
}

#title {
    grid-area: title;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

#title h1 {
    color: #B6BED4;
}

#nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        'navBox'
        '.'
        '.'
    ;
}

#navBox {
    grid-area: navBox;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
}

.linkBox {
    background-color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #777;
    box-shadow: 0 0 3px 3px #2e3d6c;
}

a {
    text-decoration: none;
    color: #777;
}

a :hover {
    background-color: black;
    color: white;
}

#gallery {
    border: 1px solid #777;
    padding: 10px;
    background-color: white;
    grid-area: main;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minMax(300px, 1fr));
    overflow-x: hidden; 
    overflow-x: auto; 
}

#main {
    color: #777;
    background-color: whitesmoke;
    padding: 50px;
    font-size: 18px;
}

img {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

#ads {
    grid-area: ads;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
}

#ads > h2 {
    padding-left: 10px;
    margin-bottom: 0;
    color: #B6BED4;
}

#aws {
    transition: 1s opacity;
}

#ads a {
    box-shadow: 0 0 3px 3px #2e3d6c;
}

#footer {
    grid-area: footer;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: whitesmoke;
}