* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #2e3d6c;
}

#body {
    height: 100vh;
    width: 100vw;
    background-color: #506296;
    display: grid;
    grid-template-columns: 1fr 7.5fr 1.5fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas: 
        'header header header'
        'nav main ads'
        'nav main ads'
        'nav main ads'
        'nav main ads'
        'nav main ads'
        'nav main ads'
        'nav main ads'
        'nav main ads'
        'footer footer footer'
    ;
}

#header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        'title'
    ;
}

#title {
    grid-area: title;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
}

#title h1 {
    color: #B6BED4;
}

#nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        'navBox'
        '.'
        '.'
    ;
}

#navBox {
    grid-area: navBox;
    display: grid;
    align-content: center;
    padding: 10px;
}

.linkBox {
    background-color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #777;
    box-shadow: 0 0 3px 3px #2e3d6c;
}

a {
    text-decoration: none;
    color: #777;
}

a :hover {
    background-color: black;
    color: white;
}

#gallery {
    border: 1px solid #777;
    padding: 10px;
    background-color: white;
    grid-area: main;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minMax(300px, 1fr));
    overflow-x: hidden; 
    overflow-x: auto;
    margin-bottom: 10px;
}

#main {
    color: #777;
    background-color: whitesmoke;
    padding: 50px;
    font-size: 18px;
}

img {
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.photo :hover {
    opacity: 70%;
}

#ads {
    grid-area: ads;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 9fr .5fr;
    grid-template-areas: 
        'adH2'
        'github'
        'github'
        'github'
        'codeWars'
        'codeWars'
        'codeWars'
        'aws'
        'aws'
        'adsBlank'
        'adsBlank'
    ;
    padding: 10px;
}

#aws {
    grid-area: aws;
    height: 160px;
    margin-bottom: 10px;
}

#codeWars {
    grid-area: codeWars;
    height: 160px;
    margin-bottom: 10px;
}

#github {
    grid-area: github;
    height: 160px;
    margin-bottom: 10px;
}

#adsBlank {
    grid-area: adsBlank;
    height: 35px;
}

#adH2 {
    grid-area: adH2;
}

#ads > h2 {
    padding-left: 10px;
    margin-bottom: 0;
    color: #B6BED4;
}

#ads a :hover {
    opacity: 70%;
}

#footer {
    grid-area: footer;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: whitesmoke;
}

@media (min-width: 501px) and (max-width: 1100px){
    #body {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 7.5fr 2.5fr;
        grid-template-rows: 1fr .5fr 8fr .5fr;
        grid-template-areas: 
            'header header'
            'nav nav'
            'main ads'
            '. ads'
            '. ads'
            '. ads'
            '. ads'
            '. ads'
            '. ads'
            '. ads'
            'footer footer'
        ;
    }

    #header {
        grid-area: header;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    #title {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #nav {
        grid-area: nav;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    
    #navBox {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding: 0;
        margin: 0 10px 0 10px;
    }

    .linkBox {
        border: none;
        box-shadow: none;
    }

    #homeBtn {
        grid-column: 1/2;
        grid-row: 1/2;
    } 
    
    #aboutBtn {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    #mySiteBtn {
        grid-column: 3/4;
        grid-row: 1/2;
    } 
    
    #repoBtn {
        grid-column: 4/5;
        grid-row: 1/2;
    }

    #gallery {
        grid-area: main;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(8, 1fr);
        margin: 10px 0 0px 10px;
    }

    #main {
        grid-area: main;
        margin: 10px 0 0 10px;
    }

    #ads {
        grid-area: ads;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 3fr 3fr 3fr .5fr;
    }

    #aws {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #codeWars {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #github {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #adsBlank {
        grid-column: 1/2;
        grid-row: 4/6;
        height: 70px;
    }

    #adH2 {
        display: none;
    }

    #footer {
        grid-area: footer;
    }
}

@media (max-width: 500px){
    #body {
        height: 100vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr 6fr 2fr .5fr;
    }

    #header {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #title {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #nav {
        grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #navBox {
        grid-column: 1/2;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .linkBox {
        margin: 0;
        box-shadow: none;
    }

    #homeBtn {
        grid-column: 1/2;
        grid-row: 1/2;
    } 
    
    #aboutBtn {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    #mySiteBtn {
        grid-column: 1/2;
        grid-row: 2/3;
    } 
    
    #repoBtn {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #gallery {
        grid-column: 1/2;
        grid-row: 3/4;
        overflow-x: hidden; 
        overflow-x: auto;
        margin: 0 10px 0 10px
    }

    #main {
        grid-column: 1/2;
        grid-row: 3/4;
        overflow-x: hidden; 
        overflow-x: auto;
        margin: 0 10px 0 10px;
    }

    #ads {
        grid-column: 1/2;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
        align-content: center;
    }

    #github {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-right: 5px;
    }

    #codeWars {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #aws {
        grid-column: 3/4;
        grid-row: 1/2;
        margin-left: 5px;
    }

    #adH2 {
        display: none;
    }

    #adsBlank {
        display: none;
    }

    #footer {
        grid-column: 1/2;
        grid-row: 5/6;
    }
}